//- footer
.container-fluid.p-x-0
  .footer.bg-dark
    .container
      .row.p-y-lg
        .col-xs-5
          ul.p-l-0
            li Social
            li Twitter
            li Instagram
            li Behance
        .col-xs-10
          ul.pull-right.text-align-right
            li About
            li Work
            li Contact
            li Writings
            li Shop
