//- footer
.container-fluid.p-x-0
  .footer.bg-dark
    .container
      .row
        .col-lg-3
          ul
            li Social
            li Twitter
            li Instagram
            li Behance
        .col-lg-19
          ul
            li The UX of getting around
            li A call for designers in bitcoin
            li Adopting open source methodology
            li Another blog title bites the dust
        .col-lg-12
          ul
            li About
            li Work
            li Contact
            li Writings
            li Shop
