//- footer
.container-fluid.p-x-0
  .footer.bg-dark
    .container
      .row.p-y-lg
        .col-xs-5
          ul.p-l-0
            li Social
            li
              a(href="") Twitter
            li
              a(href="") Behance
            li
              a(href="") Github
            li
              a(href="") Medium
            li
              a(href="") Instagram
        .col-xs-10
          ul.pull-right.text-align-right
            li.opacity-50 WIP
