//- footer
.container-fluid.p-x-0
  .footer.bg-dark
    .container
      .row.p-y-lg
        .col-xs-5
          ul.p-l-0
            li Social
            li
              a(href="https://twitter.com/riley_io") Twitter
            li
              a(href="https://www.behance.net/riley_io") Behance
            li
              a(href="https://github.com/pat-riley") Github
            li
              a(href="https://dribbble.com/patriley") Dribbble
        .col-xs-10
          ul.pull-right
            p View this site on GitHub
            // Place this tag where you want the button to render.
            a.github-button(href='https://github.com/pat-riley/riley-io/fork', data-icon='octicon-repo-forked', data-style='mega', aria-label='Fork pat-riley/riley-io on GitHub') Fork
            // Place this tag right after the last button or just before your close body tag.
            // Place this tag where you want the button to render.
            a.github-button(href='https://github.com/pat-riley/riley-io', data-icon='octicon-star', data-style='mega', aria-label='Star pat-riley/riley-io on GitHub') Star
            script#github-bjs(async='', defer='', src='https://buttons.github.io/buttons.js')
