// utils

.background-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// fills
.bg-dark {
  background: $darker;
  border: 1px solid $border;
}

body {
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FBFBFB 91%, #F7F7F7 100%);
}
