$button-size:     7em;

.circle-button {
  background-color: $white;
  border: 2px solid $dark;
  border-radius: 5em;
  display: block;
  font-size: 10px;
  font-weight: 500;
  height: $button-size;
  letter-spacing: 1px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  width: $button-size;

  &:hover {
    background-color: $dark;
    color: $white;
    transition: background-color .5s ease, color .5s ease;
  }

  &:active {
    color: $white;
    transition: background-color 0s;
  }

  .circle-button-inside {
    width: 100%;
  }
}

.hero-btns {
  border-radius: 5rem;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 22px;
  padding: .75rem 1.5rem .78rem;
  text-transform: uppercase;
  transition: background .2s;
}
