$button-size:     7em;



.circle-button {
  width: $button-size;
  height: $button-size;
  border-radius: 5em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  background-color: $white;
  border: 2px solid $dark;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
  &:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: $dark;
    color: #fff;
  }
  &:active {
    transition: background-color 0s;
    color: #fff;
  }
  .circle-button-inside {
    width: 100%;
  }
}
