// extend all the things

.section {
  @extend .padding-vertical;
  @extend .large-padding-vertical-most;
}




// the main logo used on the home page
.logo {
  @include media-breakpoint-down(sm) {
    margin-top: 6em;
  }
  margin-top: 12em;
}

.social-list {
  font-size: .7em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slash-after {
  &:after {
    content: '/';
    padding-left: 10px;
  }
}

.project-card {
  background: $white;
  border: 1px solid $border-light;
  height: 570px;
  @include media-breakpoint-down(sm) {
    height: 250px;
  }
  &:hover {
    transition: .5s;
    box-shadow: 0px 6px 26px 0px rgba(0,0,0,0.13);
  }
}

// Badges

.badge-label {
  @extend .m-b-0;
  @extend .text-center-sm;
}

.badge-title {
  @extend .m-b-0;
  @extend .text-center-sm;
}

.badge {
  width: 100%;
}




.footer {
  color: $white;
  ul {
    list-style: none;
  }
}
