// extend all the things

.section {
  @extend .padding-vertical;
  @extend .large-padding-vertical-most;
}




// the main logo used on the home page
.logo {
  @include media-breakpoint-down(sm) {
    margin-top: 6em;
  }
  margin-top: 12em;
}

.social-list {
  font-size: .7em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slash-after {
  &:after {
    content: '/';
    padding-left: 10px;
  }
}
