body {
  color: $dark;
  font-family: $font-family-base;
}

.headline {
  font-weight: 200;
  @include media-breakpoint-down(sm) {
    font-size: 1.9rem;
  }
}

.lead {
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}


.project-type {
  letter-spacing: 6px;
  line-height: 17px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.5;
  font-size: 0.8em;
}
