// variables
// Bootstrap overrides must go here


// Colors
$white: #fff;
$dark: #3d424d;

$selection-color: #ebebff;
$instantclick-bar-color: $dark;



$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1000px
);

$grid-columns:               16;
$container-max-widths: (
  xl: 960px
);


$link-color:                 $dark;
$link-hover-color:           darken($link-color, 15%);
$link-hover-decoration:      none;

$font-family-sans-serif:     'Montserrat', sans-serif;
$font-family-base:           $font-family-sans-serif;
