// variables
// Bootstrap overrides must go here


// Colors
$white:                   #fff;
$dark:                    #3d424d;
$darker:                  #323232;
$border:                  #979797;
$border-light:            #e5e5e5;

$selection-color:         #ebebff;
$instantclick-bar-color:  $dark;



$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1000px
);

$grid-columns:               15;
$container-max-widths: (
  xl: 1024px
);


$link-color:                 $dark;
$link-hover-color:           darken($link-color, 15%);
$link-hover-decoration:      none;

$font-family-sans-serif:     'Montserrat', sans-serif;
$font-family-base:           $font-family-sans-serif;
