extends _layouts/primary

block content
  .container
    .row
      .col-lg-12.p-x-0-lt-sm
        .logo Logo
    
    .social-list.row.m-t-lg.m-b-md
      .col-lg-12.p-x-0-lt-sm
        ul.list-inline
          li.slash-after
            a(href="https://twitter.com/riley_io") Twitter
          li.slash-after
              a(href="https://www.behance.net/riley_io") Behance
          li.slash-after
              a(href="https://github.com/pat-riley") Github
          li
            a(href="https://medium.com/@riley") Medium 
    .row
      .col-lg-9.col-xs-12.p-l-0-lt-sm
        h1.headline.m-b I’m an Atlanta based product designer.
        p.lead Currently I spend my days designing UIs around bitcoin and blockchain technology at #[a(href="https://bitpay.com") BitPay]
      .col-lg-6.col-xs-4.p-r-0-lt-sm
        .pull-right
          a(href="mailto:pat@riley.io?Subject=Hello!" target="_top")
            button.circle-button.m-b(type="button")
              .circle-button-inside Contact
          a(href="mailto:pat@riley.io?Subject=Hire" target="_top")
            button.circle-button(type="button")
              .circle-button-inside Hire
