extends _layouts/primary

block content
  .container
    .row
      .col-lg-12
        .logo WIP
    
    .row.social-list.m-t-lg.m-b-md
      .col-lg-12
        ul.list-inline
          li.slash-after
            a(href="https://twitter.com/riley_io") Twitter
          li.slash-after
              a(href="https://www.behance.net/riley_io") Behance
          li.slash-after
              a(href="https://github.com/pat-riley") Github
          li
            a(href="https://medium.com/@riley") Medium 
    
    .row.m-b-xl
      .col-sm-5.col-sm-push-10
        img(src="images/rainbow.svg" width="100%").p-lg-mt-md
      .col-sm-10.col-sm-pull-5
        h1.headline.m-b.text-center-xs I’m an Atlanta based<br />interface designer.
        p.lead.text-center-xs Currently I spend my days designing UIs around bitcoin and blockchain technology at #[a(href="https://bitpay.com") BitPay]
    
    .row.border-grey-vertical.m-x-5.p-y-lg.m-y-lg
      
      .col-xs-5
        .row
          .col-sm-15.col-md-4.col-lg-4
            img(src="images/glyph-1.svg" width="100%")
          .col-sm-15.col-md-11.col-lg-11
            p.m-b-0.text-center-sm Current Title
            p.m-b-0.text-center-sm Product Designer
      
      .col-xs-5
        .row
          .col-sm-15.col-md-4.col-lg-4
            img(src="images/glyph-2.svg" width="100%")
          .col-sm-15.col-md-11.col-lg-11
            p.m-b-0.text-center-sm Favorite Color
            p.m-b-0.text-center-sm Green
      
      .col-xs-5
        .row
          .col-sm-15.col-md-4.col-lg-4
            img(src="images/glyph-3.svg" width="100%")
          .col-sm-15.col-md-11.col-lg-11
            p.m-b-0.text-center-sm Location
            p.m-b-0.text-center-sm Atlanta, GA
    
    
    .row
      .col-lg-15
        .m-y-lg
          h6.text-center A selection of Work
          p.text-center A few choice picks, for a full listing go here
    
    .row.m-b-lg
      .col-xs-15.col-md-5.p-r-0-gt-sm.m-b-lt-md
        .project-card
      .col-xs-15.col-md-5.m-b-lt-md
        .project-card
      .col-xs-15.col-md-5.p-l-0-gt-sm
        .project-card
        

        
      
