extends _layouts/primary

block content
  .container
    .row
      .col-lg-12.p-x-0-lt-sm
        .logo WIP
    
    .social-list.row.m-t-lg.m-b-md
      .col-lg-12.p-x-0-lt-sm
        ul.list-inline
          li.slash-after
            a(href="https://twitter.com/riley_io") Twitter
          li.slash-after
              a(href="https://www.behance.net/riley_io") Behance
          li.slash-after
              a(href="https://github.com/pat-riley") Github
          li
            a(href="https://medium.com/@riley") Medium 
    .row
      .col-lg-10.p-l-0
        h1.headline.m-b I’m an Atlanta based product designer.
        p.lead Currently I spend my days designing UIs around bitcoin and blockchain technology at #[a(href="https://bitpay.com") BitPay]
      .col-lg-5
        img(src="images/rainbow.svg")
    
    .row.section.border-grey-vertical.p-y-lg.m-y-lg
      
      .col-lg-1.p-l-0
        img(src="images/glyph-1.svg" width="100%")
      .col-lg-4
        p.m-b-0 Current Title
        p Product Designer
        
      .col-lg-1.p-l-0
        img(src="images/glyph-2.svg" width="100%")
      .col-lg-4
        p.m-b-0 Favorite Color
        p Green
        
      .col-lg-1.p-l-0
        img(src="images/glyph-3.svg" width="100%")
      .col-lg-4
        p.m-b-0 Location
        p Atlanta, GA

        
      
