extends _layouts/primary

block content
  .container
    .row
      .col-lg-9
        h1 I’m an Atlanta based interface designer.
        p.lead Currently I spend my days designing UIs around bitcoin and blockchain technology at BitPay.
