extends _layouts/primary

block content
  .container
    .row
      .col-lg-12
        .logo WIP
    
    .row.social-list.m-t-lg.m-b-md
      .col-lg-12
        ul.list-inline
          li.slash-after
            a(href="https://twitter.com/riley_io") Twitter
          li.slash-after
              a(href="https://www.behance.net/riley_io") Behance
          li.slash-after
              a(href="https://github.com/pat-riley") Github
          li
            a(href="https://medium.com/@riley") Medium 
    
    .row.m-b-xl
      .col-md-5.col-md-push-10
        img(src="images/rainbow.svg" width="100%").p-lg-mt-md
      .col-md-10.col-md-pull-5
        h1.headline.m-b I’m an Atlanta based interface designer.
        p.lead Currently I spend my days designing UIs around bitcoin and blockchain technology at #[a(href="https://bitpay.com") BitPay]
    
    .row.border-grey-vertical.m-x-5.p-y-lg.m-y-lg
      
      .col-md-5
        .row
          .col-md-3.col-sm-2.p-l-0
            img(src="images/glyph-1.svg" width="100%")
          .col-md-12.col-sm-13
            p.m-b-0 Current Title
            p.m-b-0 Product Designer
      
      .col-md-5    
        .row
          .col-md-3.col-sm-2.p-l-0
            img(src="images/glyph-2.svg" width="100%")
          .col-md-12.col-sm-13
            p.m-b-0 Favorite Color
            p.m-b-0 Green
      
      .col-md-5    
        .row
          .col-md-3.col-sm-2.p-l-0
            img(src="images/glyph-3.svg" width="100%")
          .col-md-12.col-sm-13
            p.m-b-0 Location
            p.m-b-0 Atlanta, GA
    
    
    .row
      .col-lg-15
        .m-y-lg
          h6.text-center A selection of Work
          p.text-center A few choice picks, for a full listing go here
    
    .row.m-b-lg
      .project-card.col-lg-5
      .project-card.col-lg-5
      .project-card.col-lg-5
        

        
      
